name: Build & Push Docker Image
on:
  push:
    branches:
      - main
  workflow_dispatch: 

env:
  AWS_REGION: eu-west-2
  ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY }}
  ECR_REGISTRY: ${{ secrets.AWS_ECR_REGISTRY }}
  IMAGE_LOCAL_NAME: threat-mod-app

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
# required permissions for OIDC - AWS
    permissions: 
      id-token: write
      contents: read

    # step 1 - checkout the repositry
    steps: 
     - name: Checkout code
       uses: actions/checkout@v4

    #step 2: configure aws credentials via OIDC
     - name: Configure AWS Credentials (using OIDC)
       uses: aws-actions/configure-aws-credentials@v4
       with: 
         role-to-assume: ${{ secrets.AWS_ECR_PUSH_ROLE }}
         role-session-name: github-ecr-push
         aws-region: ${{ env.AWS_REGION }}

    # STEP 3: LOG IN TO AWS ECR
     - name: Login to Amazon ECR
       run: |
         aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY

    # Step 4: Set up Docker Buildx & Build Image 

     - name: Set up Docker Buildx (used for linux/amd64 builds)
       uses: docker/setup-buildx-action@v3 

     - name: Build Docker image
       run: docker buildx build --platform linux/amd64 -t $IMAGE_LOCAL_NAME:latest --load ./app

    # STEP 5: Scan for vulnerabilities with TRIVY

     - name: Scan Docker Image for Vulnerabilities Using Trivy
       uses: aquasecurity/trivy-action@master
       with: 
        image-ref: ${{ env.IMAGE_LOCAL_NAME }}:latest
        format: table
        exit-code: 0 
        
  #needed this debug for VAR issue with tags
     - name: Debug image + variables
       run: |
         echo "IMAGE_LOCAL_NAME=$IMAGE_LOCAL_NAME"
         echo "ECR_REGISTRY=$ECR_REGISTRY"
         echo "ECR_REPOSITORY=$ECR_REPOSITORY"
         echo "IMAGE_TAG_SHA=$IMAGE_TAG_SHA"
         echo "--- Docker Images ---"
         docker images


      #Generate SHA tag
     - name: Generate Image SHA Tag 
       run: echo "IMAGE_TAG_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    # STEP 6: TAG images (latest & SHA)
     - name: Image Tags for ECR (latest tag & SHA)
       run: |
         docker tag $IMAGE_LOCAL_NAME:latest $ECR_REGISTRY/$ECR_REPOSITORY:latest
         docker tag $IMAGE_LOCAL_NAME:latest $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG_SHA

    # STEP 7: PUSH IMAGE TO ECR 
     - name: Push Image to ECR
       run: |
         docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
         docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG_SHA
    
    # STEP 8: JOB CONFIRMATION SUMMARY 
     - name: Job Summary
       run: |
         {
           echo "## Docker Build & Push Summary"
           echo "Image Pushed to ECR"
           echo "Registry: $ECR_REGISTRY"
           echo "Repository: $ECR_REPOSITORY"
           echo "Tags published: latest and $IMAGE_TAG_SHA"
         } >> $GITHUB_STEP_SUMMARY   